body{
    margin: 0;
    background-color: #CFC8E3;
}
header{
    
    display: flex;
    align-items: center;
    justify-content: space-between;  
    height: 80px;
    background-color: #6866C2;
    padding: 10px 40px;
    font-family: 'Times New Roman', Times, serif;

}
.logohead{
   
    height: 63px;
    width: 374px;
    
    
}
.botones{
    justify-content: space-between;
    background: transparent;
    border: transparent;
    cursor: pointer;
    color: white;
    margin: 10px;
    font-size: 16px;
    margin-left: 10px;
    font-weight: bold;
    
    
}